{# templates/connexion/connexion.html.twig #}
{% block title %}Exo symphony{% endblock %}
{% block head %}

{% endblock %}

{% block body %}

<h1>Authentification </h1>
<form method="POST">
    <input type="password" name="password" />
    <button type="submit">Valider</button>
</form>
<br />
{% endblock %}

{% block footer %}
    
{% endblock %}