{# templates/tirage/nombre.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Bienvenue !{% endblock %}
{% block body %}
<h1>le tirage vous a donné le nombre : {{ nombre }}</h1>
{% endblock %}
